<div class="container-fluid">
    <h1 class="col text-center" style="color:brown">{{detailMovie.name}}
        <p style="font-size:15px;color: gray;">
            ({{detailMovie.date}})</p>
    </h1>
    <div class="row">
        <div class="col-md-6">

            <div class="card-body">
                <img class="img-thumbnail img-fluid" src={{detailMovie.image}} alt=""></div>
        </div>
        <div class="col-md-6">
            <br>
            <div class="card-title">
                <h4>Tag Line : {{detailMovie.tagline}}</h4>
            </div>
            <div class="card-title">
                <p>Rating: {{detailMovie.vote}}</p>
            </div>
            <div class="card-title">
                <p>Overview : {{detailMovie.overview}}</p>
            </div>
            <div class="card-title">
                <p>Status : {{detailMovie.status}}</p>
            </div>
            <div class="card-title">
                <p>Company : {{detailMovie.company}}</p>
            </div>
            <div class="card-title">
                <p>Country : {{detailMovie.country}}</p>
            </div>

        </div>
    </div>
</div>